@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font-face for Genty */
@font-face {
  font-family: "Genty";
  src: url("/fonts/GentyDemo-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* 
body {
  font-family: "Genty", sans-serif;
} */

/* Custom scrollbar (if using Tailwind's scrollbar plugin) */
.scrollbar-custom {
  /* Applying Tailwind CSS utilities for customizing the scrollbar */
  @apply scrollbar scrollbar-thin scrollbar-thumb-gray-500 scrollbar-track-gray-300;
}

/* Header styles */
.header-container {
  @apply lg:hidden fixed top-0 w-full shadow-xl z-50;
}

.header {
  @apply w-full h-[50px] bg-red-500 flex items-center justify-between px-4;
}

.header-text {
  @apply text-white font-bold;
}

/* Navigation styles */
.nav-container {
  @apply bg-red-500 w-full absolute shadow-xl z-40 overflow-hidden;
}

.nav-content {
  @apply p-[3vw];
}

.nav-item {
  @apply text-white py-2;
}

.submenu {
  @apply pl-4 max-h-40 overflow-y-auto scrollbar-custom;
}


/* Add this to your global CSS file */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}